{% extends 'base.html' %}
{% block breadcumb %} Biodata Peserta Didik {% endblock %}
{% block content %}
<h3>Biodata Peserta Didik</h3>
<div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>NPM</th>
                    <th>Nama Siswa</th>
                    <th>No Telp.</th>
                    <th>Email</th>
                    <th>Tahun Angkatan</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td>
                    <td>17.43.1123</td>
                    <td>Ahmad Sutoro</td>
                    <td>085733442134</td>
                    <td>ahmad@gmail.com</td>
                    <td>2017</td>
                    <td>Hapus &nbsp; Edit  &nbsp; <a href="biodata_siswa/view">Tampil</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>17.43.1125</td>
                    <td>Suciyanti</td>
                    <td>081333442175</td>
                    <td>suciyanti@gmail.com</td>
                    <td>2017</td>
                    <td>Hapus &nbsp; Edit  &nbsp; <a href="biodata_siswa/view">Tampil</td>
                </tr>
                 <tfoot>
                  <tr>
                    <th>No.</th>
                    <th>NPM</th>
                    <th>Nama Siswa</th>
                    <th>No Telp.</th>
                    <th>Email</th>
                    <th>Tahun Angkatan</th>
                    <th>Aksi</th>
                  </tr>
                </tfoot>
                </tbody>
              </table>
{% endblock %}