{% extends 'base.html' %}
{% block breadcumb %}Tambah Berkas Dosen/Instruktur{% endblock %}
{% block content %}
<h3>Tambah Berkas Dosen/Instruktur</h3>
<form name="main_form" action="" method="post">
    <table>
        <tr>
            <td>NIK</td>
            <td>:</td>
            <td>
                <input type="text" disabled  value="NIK otomatis keluar sesuai pilihan nama mahasiswa"/>
            </td>
        </tr>
        <tr>
            <td>Pilih nama Dosen</td>
            <td>:</td>
            <td>
                <select>
                    <option value="1" >Adi</option>
                    <option value="2" >Susi</option>
                    <option value="3" >Narji</option>
                </select>
            </td>
        </tr>
		<tr>
            <td>Nama berkas</td>
            <td>:</td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>Unggah berkas</td>
            <td>:</td>
            <td>
               <input type="file" nama="main_file"/>
            </td>
        </tr> 
		<tr>
            <td>Deskripsi</td>
            <td>:</td>
            <td>
               <textarea cols="25" rows="4"></textarea>
            </td>
        </tr>       		
        <tr>
            <td><input class="button" type="submit"  name="btn_submit" value="Unggah"/></td>
            <td></td>
            <td>
                <a class="button" href="/berkas_dosen/">Batal</a>
            </td>
        </tr>

    </table>
</form>
{% endblock %}