{% extends 'base.html' %}
{% block title %}Unggah Kalender Akademik{% endblock%}
{% block breadcumb %} Unggah Kalender Akademik {% endblock %}

{% block content %}
<h3>Unggah Kalender Akademik</h3>

<form name="main_form" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Nama File</td>
            <td>:</td>
            <td><input type="text" name="filename" /></td>
        </tr>
        <tr>
            <td>Keterangan</td>
            <td>:</td>
            <td>
                <textarea name="description" cols="20" rows="4"></textarea>
            </td>
        </tr>
        <tr>
            <td>Unggah</td>
            <td>:</td>
            <td><input type="file" name="upload" /></td>
        </tr>
        <tr>
            <td><input class="button" type="submit"  name="btn_submit" value="Submit"/></td>
            <td></td>
            <td><a href="/kalender_akademik/" class="button">Batal</a></td>
        </tr>
    </table>
</form>
{% endblock %}