{% extends 'base.html' %}
{% block breadcumb %} Perubahan Password {% endblock %}
{% block content %}
<h3>Perubahan Password</h3>
<form name="main_form" action="" method="post">
    <table>
        <tr>
            <td>Email</td>
            <td>:</td>
            <td>
                <input name="email" type="text" />
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>:</td>
            <td>
                <input name="password" type="password" />
            </td>
        </tr>
		<tr>
            <td>Tulis Ulang</td>
            <td>:</td>
            <td>
                <input name="re-password" type="password" />
            </td>
        </tr>
        <tr>
            <td><input class="button" type="submit"  name="btn_submit" value="Submit"/></td>
            <td></td>
            <td>
                <a class="button" href="/">Batal</a>
            </td>
        </tr>

    </table>
</form>
{% endblock %}